@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Forrest Bird Students</h1>
    
    <!-- Add a line to learn about C# -->
    <p>Learn about <a href="https://docs.microsoft.com/dotnet/csharp/">building Web apps with C#</a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
